div {
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  color: black;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  background-color:cyan;
  border: solid white;
  padding: 10px;
  text-align: center;
  color: black;
}
.flex-container{
  background-color: cyan;
  font-size: 20px;
}
.flex-item{
  text-align: center;
  flex-direction: column;
  color: black;
}
